body
{
    display: flex;
    background-color:#fafafa;
    align-items: center;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
header
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header p 
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 5px;
}
header .p1
{
    font-size: 20px;
    color: #908e97;
}
header .p2
{
    font-size: 20px;
    font-weight: 900;
    color: #333435;
}
header .p3
{
    font-size: 12px;
    color: #908e97;
    width: 59%;
    margin-top: 10px;
}
.parent
{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
    height: auto;
    align-items: center;
}
.child1,.child22,.child222,.child3
{
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
    height: 225px;
    border-radius: 5px;
    display: grid;
}
.child1-header
{
    border-radius: 5px 5px 0 0;
    background-color: #6dd2d2;
    padding-bottom: 5px;
    height: 1px;
}
.child1-main ,.child22-main,.child222-main ,.child3-main
{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
}
.child1-main h3,.child22-main h3,.child222-main h3,.child3-main h3
{
    margin: 0;
    color: #333435;
}
.child1-main p ,.child22-main p,.child222-main p,.child3-main p
{
    margin-top: 10px;
    font-size: 12px;
    color: #908e97;
}
.child1-footer,.child22-footer,.child222-footer,.child3-footer
{
    padding: 20px;
    justify-self: flex-end;
}
.child2{
    display: grid;
}
.child22-header
{
    border-radius: 5px 5px 0 0;
    background-color: #dc5861;
    padding-bottom: 5px;
}
.child222-header
{
    border-radius: 5px 5px 0 0;
    background-color: #f6b159;
    padding-bottom: 5px;
    height: 1px;
}
.child3-header
{
    border-radius: 5px 5px 0 0;
    background-color: #77ace4;
    padding-bottom: 5px;
    height: 1px;
}
@media only screen and (max-width: 600px) {
    header .p1
    {
        font-size: 17px;
    }
    header .p2 
    {
        font-size: 16px;
    }
    header .p3
    {
        font-size: 11px;
        width: 80%;
    }
    .parent {
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;
    }
    .child1,.child22,.child222,.child3
    {
        margin: 0;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
        height: fit-content;
    }
    .child2
    {
        display:flex;
        flex-direction: column;
        width: 100%;

    }
    .child1-main h3,.child22-main h3,.child222-main h3,.child3-main h3
    {
       font-size:20px; 
    }
    .child1-main p ,.child22-main p,.child222-main p,.child3-main p
    {
        font-size: 13px;
    }
    
  }